@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* for variables */
    /* ### Primary */
    --color-strong-cyan: 171deg 66% 44%;
    --color-light-blue: 233deg 100% 69%;

    /* ### Neutral */
    --color-dark-grayish-blue: 210deg 10% 33%;
    --color-grayish-blue: 201deg 11% 66%;
  }
  html {
    font-size: 100%;
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    margin: 0;
    padding: 0;
  }
}
